<nav th:fragment="studentNavBar" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/student}">
            <img src="/img.png" height="40" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/student}">My Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/student/add-courses}"> Add Courses</a>
                </li>
            </ul>
            <form th:action="@{/destroy}" method="post">
                <input class="btn btn-link text-danger" type="submit" value="logout" />
            </form>
        </div>
    </div>
</nav>