<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head"> </head>
<body>

<nav th:insert="fragments/adminNavBar.html :: adminNavBar"> </nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <br/>
            <h3>Add Students!</h3>
            <form class="row g-3 " action="#" th:action="@{/admin/add-student}" th:object="${student}" method="post">
                <div th:replace="fragments/studentInput.html :: studentInput(userName='userName')"> </div>
                <div class="mb-3">
                    <label for="id" class="form-label  fw-bold">Student ID:</label>
                    <input type="number" class="form-control" th:field="*{id}" id="id" name="id" placeholder="ID is also will be the student password." required>
                    <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger"></span>
                </div>
                <p style="color: red" th:if="${error  != null}" th:text="${error}"></p>
                <br/>
                <button type="submit" class="btn btn-secondary fw-bold">Add</button>
            </form>
        </div>

        <div th:switch="${students.size()}" class="col-md-6">
            <br/>
            <h2 th:case="0">No Students Yet!</h2>
            <div th:case="*">
                <h2>Students List!</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Student Name</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="student : ${students}">
                        <td th:text="${student.id}"></td>
                        <td th:text="${student.userName}"></td>
                        <td>
                            <form action="#" th:action="@{/admin/edite-student}" method="post">
                                <input type="hidden" name="id" th:value="${student.id}">
                                <input class="btn btn-secondary" type="submit" value="edite" />
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
