<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head"> </head>
<body>

<div th:insert="fragments/header.html :: header"> </div>
<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 75vh;">
        <div class="col-md-6 col-lg-4">
            <h1>Hi,  <span th:text="${role}"></span> &#128075;</h1>
            <h6>Change your password!</h6>
            <br/>
            <form action="#" th:action="@{/{role}/password(role=${role})}" method="post">
                <div th:replace="fragments/loginInput.html :: loginInput"> </div>
                <div class="mb-3">
                    <label for="newPassword" class="form-label fw-bold">New Password:</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" minlength="2" maxlength="20" placeholder="newPassword" required>
                </div>

                <p style="color: red" th:if="${error} == 'true'" th:text="'Invalid username or password.'"></p>
                <button type="submit" class="btn btn-secondary fw-bold">Update</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
